@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

$white-border: 1px solid #ffffffde;

body {
  background-image: linear-gradient(30deg, #0e0e0e66 0%, #0f0f0fb5 100%), url(../task/resources/bg-overlay.png), url(../task/resources/bg.jpg);
  background-repeat: no-repeat, repeat, no-repeat;
  object-fit: cover;
  height: 100vh;
  background-position: center;
  font-family: 'Inter', sans-serif;
}

main {
  text-align: center;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h1 {
    font-weight: 500;
  }
}

section[id=meta] {
  border-top: $white-border;
  border-bottom: $white-border;
  padding: 20px;
  margin: 0 20px;
}

ul {
  padding: 0;
  padding: 0 20px;
  margin: 0;
}

li {
  list-style: none;
  border: $white-border;
  padding: 10px 0;
  border-radius: 1px;

  >a {
    text-decoration: none;
    color: #fff;
  }
}

li:hover {
  cursor: pointer;
  background-color: #ffffff5d;
}

p {
  line-height: 30px;
  text-align: left;

  span {
    border-bottom-width: 1px;
    border-bottom: 2px dotted #fff;
  }

  span:hover {
    color: #009dff;
  }
}

p,
a {
  font-weight: 200;
}

img[alt=gem] {
  align-self: center;
  width: 30px;
  height: auto;
  object-fit: contain;
  border: $white-border;
  padding: 10px;
  border-radius: 50px;
}

.placeholder {
  align-self: center;
  border: 0.01em solid #ffffffde;
  height: 50px;
}

@media screen and (min-width: 1000px) {
  section[id=meta] {
    margin: 0 50px;
  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  li {
    width: 200px;
    padding: 10px 0;
  }

  .placeholder {
    border: 0.01em solid #ffffffde;
  }

  p {
    text-align: center;
  }
}